$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-trashcan: "\e904";
$icon-headphones: "\e910";
$icon-acoustic-guitar: "\e900";
$icon-corona-de-laurel: "\e901";
$icon-guitar-pick: "\e902";
$icon-skateboard: "\e903";

